body {
   background-color: rgb(24, 23, 23);
}


.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: auto;
   font-family: copperplate;
   color: white;
}

.logo {
   margin-right: auto;
}

.nav-icon {
   font-size: 30px;
   margin: 0 10px;
}

.intro {
   width: 450px;
   font-size: 40px;
   font-family: sans-serif;
   color: white;
   padding: 0 20px;
}

.intro-about {
   color: white;
   width: 450px ;
   font-size: 20px;
   padding: 0 20px;
}

.hero-wrapper {
   display: flex;
}
.text-wrapper {
   margin-left: 20px;
   line-height: 1.5;
}

.profile-image {
   width: 275px;
   height: 400px;
   background-color: black;
   position: relative;
   top: -70px;
   left: 100px;
   z-index: -1;
}

.contact-hero {
   margin-left: 40px;
   margin-top: -45px;
   color: white;
}

.contact-button {
   border-bottom: 2px solid white;
   width: max-content;
   padding: 5px 0;
}

.contact-button:hover {
   color: rgb(21, 21, 158);
   cursor: pointer;
}

.hr {
   width: 80%;
   margin: 50px auto;
}

.skills-wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   color: white;
   width: 800px;
   margin: auto;
   justify-content: space-between;
}

.skill-box {
   display: flex;
   flex-direction: column;
   width: 250px;
   margin: 40px auto;
}

.skill {
   font-size: 45px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
}

.years {
   font-size: 18px;
   text-align: center;
}